# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Tkinter app temp files
*.log
